html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #e8e5e0;
}

* {
    box-sizing: border-box;
}

.title-card {
    padding: 16px 5rem;
    background-color: #223c5f;
}

.title-card h1 {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    color: #fa9e64;
    font-size: 32px;
}

.icons {
    float: right;
    display: flex;
    gap: 2rem;
}

.icon img{
    width: 32px;
}

.nav-bar {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #223c5f;
    border-top: 2px solid #fa9e64;
}


.nav-bar li a {
    display: inline-flex;
    padding: 10px 20px;
    border-right: 1px solid #fa9e64;
    color: #fa9e64;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}

#far-left {
    padding-left: 60px;
}

.home-body {
    display: flex;
    margin-top: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.profile-pic {
    flex: 1 1 auto; /* Adjusted to ensure it can shrink and grow */
    max-width: 450px; /* Set the maximum size for the image */
    width: 100%; /* Allow the image to shrink proportionally */
    border-radius: 140px;
}

.body-text {
    width: 580px;
    flex-shrink: 1;
    margin-right: auto;
}

.body-text h1 {
    margin: 0;
    color: #e1633d;
    font-size: calc(110px + 7vw);
    cursor: default;
}

.downward-arrow {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 6rem;
}


