html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aliceblue;
}

/* Nav Bar */
.title-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: aliceblue;
    max-width: auto;
    height: 112px;
    flex: 0 1 auto;
    width: 100%;
    gap: 2rem;
}

.logo {
    display: flex;
    margin-right: auto;
    max-width: 300px;
    min-width: 200px;
    flex: 0 1 auto;
    width: 100%;
    justify-content: flex-end;
}

.logo a {
    display: flex;
    text-decoration: none;
}


.right-side {
    display: flex;
    max-width: 300px;
    min-width: 120px;
    width: 100%;
}

.icons {
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    width: 100%;
    padding-right: 20px;
}

.icon img{
    width: 36px;
}

/* Bottom Half Old Nav Bar */
.nav-bar {
    display: flex;
    margin: 0;
    padding-top: 4px;
    padding-left: 0;
    list-style: none;
    background-color: #223c5f;
    /* border-top: 2px solid #fa9e64; */
}

.nav-bar li {
    display: flex;
    padding: 6px 20px;
}


.nav-bar li a {
    display: inline-flex;
    /* border-right: 1px solid #fa9e64; */
    color: #fa9e64;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}

#far-left {
    flex: 1 5 auto;
    max-width: 149px;
    width: 100%;
    justify-content: flex-end;
}

/* Curvy bottom to nav bar */
.custom-shape-divider-top-1717895002 {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1717895002 svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 64px;
    z-index: -1;
}

.custom-shape-divider-top-1717895002 .shape-fill {
    fill: #4e91e9;
}

.home-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 660px;
    /* background-color:rgb(218, 233, 240); */
}

.profile-pic {
    flex: 1 1 auto; /* Adjusted to ensure it can shrink and grow */
    max-width: 450px; /* Set the maximum size for the image */
    width: 100%; /* Allow the image to shrink proportionally */
    border-radius: 140px;
}

.body-text {
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;

}

.body-text h1 {
    margin: 0;
    color: #e1633d;
    font-size: calc(30px + 0.32vw);
    cursor: default;
    text-align: center;
}

.downward-arrow {
    display: block;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 6rem;
}

#bubble-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.bubble {
    position: absolute;
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
}
